form  { 
	display: table;
	width: 500px;
}
p.tablerow{ 
	display: table-row;
}
label { 
	display: table-cell;
	text-align: right;
	width:30%;
	vertical-align: top;
}
input { 
	display: table-cell;
	width: 100%;
}

.cb{
	display: table-cell;
	width: 20px;
}
textarea {
	display: table-cell;
	width: 100%;
}

span.buttoncell{
	display: table-cell;
	width: 30%;
}

button{

}