#container{
	/*light redish color*/
	background-color: #FFCCCC;
	
}

#footer{
	/*light blue*/
	background-color: #CCFFFF;
}

#topbar{
	background-color: #CCFFFF;
	height:100px;
}

#navBar{

}

#logo{
	float: left;

}

.content{
clear:both
}

.navBarButton{
	float: left;
	padding: 5px;
}

body{
	
	background-color: white;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	
	/*socks at bottom*/
	background-image: url("../images/socks.png");
	background-repeat: no-repeat;
	background-position: right bottom;
}

h1{

}

p{

}