#container{
	background-color: red;
	
}

#footer{
	background-color: blue;
	height:200px;
}

#navBar{
	background-color: green;
	height:200px;
}

#logo{
	background-color: yellow;
	height:400px;
}

.content{

}

body{
	/*light brownish color*/
	background-color: #FFFFCC;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

h1{

}

p{

}